* {
  background-color: #0B2434;
  font-family: 'Karla', sans-serif;
}

main {
  min-width: 320px;
  height: 320px;
  background-color: #F5F5F5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

}

.dice--container {
  background-color: transparent;
  display: grid;
  grid-template: auto auto / repeat(5, 1fr);
  gap: 20px;
}

.die {
  width: 35.84px;
  height: 35.84px;
  -webkit-box-shadow: 3px 3px 9px 0px rgba(130, 130, 130, 0.75);
  -moz-box-shadow: 3px 3px 9px 0px rgba(130, 130, 130, 0.75);
  box-shadow: 1px 1px 5px 0px rgba(130, 129, 129, 0.75);
  background-color: #ffffff;
  text-align: center;
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
}

.die > p {
  background-color: transparent;
  font-weight: 700;
  font-size: 1.1rem;
}

.roll-Button {
  width: 92.16px;
  height: 35.84px;
  background-color: #5035FF;
  color: #FFFFFF;
  border-radius: 6px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  border: none;
  font-weight: 700;
  font-size: 1rem;
  transition: transform 0.15s ease;
  cursor: pointer;
}

.roll-Button:active {
  box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
  transform: scale(0.85);
}